-libraryjars <java.home>/lib/rt.jar

-optimizationpasses 5
-dontshrink
#-dontobfuscate
-dontpreverify
-verbose
#-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-keep class com.braver.code.Main {
	 public static void main(java.lang.String[]);
}

#-keep class com.braver.code.statistics.**



