<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braver.android.screen.capture"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="17"
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.braver.android.permission.SCREENCAP" />

    <permission
        android:name="com.braver.android.permission.SCREENCAP"
        android:description="@string/screencap_description"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name="com.braver.android.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.braver.android.screen.capture.ScreenCapService"
            android:permission="com.braver.android.permission.SCREENCAP" >
            <intent-filter>
                <action android:name="com.braver.android.ScreenCapService" />
            </intent-filter>
        </service>
    </application>

</manifest>